body {
    margin: 0;
}

#container {
    height: 80vh;
    margin: 50px 100px;
    padding: 50px;
    border: 2px solid darkslategrey;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "login main";
}


#login {
    grid-area: login;
    background-color: dimgray;
    margin: 15px;
}

#display {
    grid-area: main;
    background-color: dimgray;
    margin: 15px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#loginForm input {
    margin: 5px 0px;
}

#loginForm button {
    height: 30px;
    width: 100px;
    align-self: center;
}

#welcome {
    display: none;
    height: 100%;
    font-size: 2em;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

#dataField {
    display: flex;
    flex-direction: column;
}

#seatLocator {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: auto;
    height: 500px;
    background-color: gainsboro;
    margin: 50px;
    padding: 50px 100px;
    align-items: center;
    justify-content: center;

}

#reserveBtn {
    height: 30px;
    width: 150px;
    align-self: center;
    margin-bottom: 20px;
}

#seatsRes {
    margin-top: 30px;
    margin-left: 50px;
}

.chairItem {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    margin: 5px 20px;
}

.title {
    font-size: 2em;
    text-decoration: underline;
}

.free {
    background-color: lightgreen;
}

.taken {
    background-color: lightgrey;
}

.selected {
    background-color: lightpink;
}