body {
    font-size: 16px;
    font-family: ProximaNovaCond, "Arial Narrow", sans-serif;
   }

table {
    border-collapse: collapse;
    max-width: 980px;
    border: 1px solid #b0b0b0;
}

table td {
    border: 1px solid #b0b0b0;
    vertical-align: top;
}

.article {
    width: 245px;
    height: 300px;
    margin: 0;
    padding: 10px;
}

img {
    width: 100%;
}

#mainArticle {
    width: 490px;
}

h2, h1{
    font-size: 19px;
    margin: 15px 0;
    font-weight: 800;
    line-height: 24px;
}

h1 {
    color: rgb(0, 117, 178);
    font-size: 16px;
}   